@charset "utf-8";
/* CSS Document */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea,input,span,figure,aside,time,figcaption{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
html,body{height:100%; position:relative}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{width:100%;font-family:"SimHei",Helvetica,Arial,sans-serif;font-size:14px;color:#000;background:#f0f0f0}
input,textarea{font-family:"SimHei",Helvetica,Arial,sans-serif;color:#000}
input:-moz-placeholder,textarea:-moz-placeholder{color:#000}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#000}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#000}
a{color:#0d0d0d;text-decoration:none;/*-webkit-tap-highlight-color:rgba(0,0,0,0.2);*/-webkit-tap-highlight-color:transparent}
a:hover{text-decoration:none}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
textarea,input{resize:none;outline:0;font-size:100%;-webkit-tap-highlight-color:rgba(255,0,0,0)}
textarea{resize:none;-webkit-appearance:none}
ul,ol{list-style:none}
em{font-style:normal}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;overflow:hidden}
.fl{float:left}
.fr{float:right}

.content{height:100%}
/*banner*/
.slider{width:100%; height:auto; position:relative; overflow:hidden; background:#fff;}
.slider-page{width:50px; height:50px; line-height:50px; position:absolute; background:rgba(0,0,0,.2); right:10px; bottom:10px; color:#fff; border-radius:50%; -webkit-border-radius:50%; font-size:20px; text-align:center; z-index:99;}
.product-img{height:320px; overflow:hidden;}
.product-img li{float:left;}
.product-img li img{width:100%;}
/*product*/
.product-box{ border-top:1px #dadada solid; border-bottom:1px #dadada solid; padding:12px; background:#fff;}
.product-info{overflow:hidden; text-align:left;}
.product-title{font-size:15px; line-height:18px; text-align:justify;}
.product-price i{font-size:25px; color:#ff2626; font-style:normal;}
.product-price b{font-size:36px; color:#ff2626; font-weight:normal;}
.product-price span{font-size:14px; color:#a1a1a1; text-decoration:line-through;}
.priduct-spec{font-size:14px; color:#a1a1a1;}
/*explain*/
.explain{padding:6px 12px; background:#f0f0f0; border-bottom:1px #dadada solid; overflow:hidden;}
.explain li{float:left; width:50%; height:26px; line-height:26px; font-size:14px; color:#a1a1a1; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; text-align:left;}
.explain li span{font-size:26px; color:#ff8338; display:inline-block; float:left;}
/*comment*/
.product-comment{background:#fff; padding:0 12px 15px;}
.module-title{height:40px; line-height:40px; font-size:16px; color:#0d0d0d;}
.comment-info{padding:0 12px;}
.comment-time-user{height:24px; line-height:24px; overflow:hidden;}
.comment-time-user span,.comment-time-user time{font-size:13px; display:block; width:50%; float:left;}
.comment-time-user span.comment-user{text-align:left; color:#393939;}
.comment-time-user time.comment-time{text-align:right; color:#a1a1a1;}
.comment-text{font-size:13px; color:#393939; text-align:justify;}
.more-comment{height:34px; line-height:34px; display:block; border-top:1px #dadada solid; border-bottom:1px #dadada solid; text-align:center; background:#fff;}
/*comment-datails*/
li.product-comment{border-top:1px #dadada solid; padding:12px 12px 15px; margin-top:-1px;}
.comment-percent-count{height:42px; line-height:42px; overflow:hidden; padding:0 12px;}
.comment-percent-count span{font-size:15px; display:block; width:50%; float:left;}
.comment-percent-count span.comment-percent{text-align:left; color:#393939;}
.comment-percent-count span.comment-count{text-align:right; color:#a1a1a1;}
.comment-percent-count span b{font-weight:normal;}
.show-percent{color:#ff4242; padding:0 3px;}
.comment-level{padding:8px 12px; background:#fff; border-top:1px #dadada solid; border-bottom:1px #dadada solid;}
.comment-grade{height:28px; line-height:28px; border:1px #00b4b8 solid; border-radius:5px; -webkit-border-radius:5px; overflow:hidden; overflow:hidden; background:#00b4b8;}
.comment-grade li{float:left;text-align:center; background:#00b4b8; width:33%;}
.comment-grade li:first-child{width:34%; border-radius:5px 0 0 5px; overflow:hidden;}
.comment-grade li:last-child{border-radius:0 5px 5px 0; overflow:hidden;}
.comment-grade li.current{background:#fff;}
.comment-grade li a{color:#fff;}
.comment-grade li.current a{color:#00b4b8;}
/*details*/
.product-details{border-top:1px #dadada solid; background:#fff; margin-top:8px; padding:0 12px;}
.details-img{padding:0 0 65px;}
.details-img img{max-width:100%; display:block;}
/*about-us*/
.about-header{height:50px; line-height:50px; background:#000; font-size:18px; color:#fff; text-align:center;}
.main{padding:20px 0 80px;}
.logo{background:url(../images/logo.svg) no-repeat; background-size:180px 50px; width:180px; height:50px; margin:0 auto;}
.code{width:180px; height:180px; border-radius:5px; -webkit-border-radius:5px; overflow:hidden; background:url(../images/code.svg) no-repeat; background-size:180px 180px; margin:15px auto 0;}
.info{margin:55px 30px 0; font-size:14px; color:#fff; text-align:justify; display:block;}
.info a{text-decoration:underline; color:#fff;}
.about-footer{height:40px; line-height:40px; background:#000; font-size:12px; color:#fff; text-align:center; position:fixed; left:0; right:0; bottom:0;}
/*order-details*/
.order-box{overflow:hidden;}
.order-info-box{border-top:1px #dadada solid; border-bottom:1px #dadada solid; padding:0 15px; margin-top:-1px; background:#fff; margin-bottom:9px; margin-top:-1px;}
.order-info-box h1{font-weight:normal; font-size:16px; height:44px; line-height:44px; border-bottom:1px #dadada solid; text-align:left; color:#585c64;}
.order-info-text{padding:6px 0;}
.order-info-text li{line-height:24px; overflow:hidden; font-size:15px; color:#585c64;}
.order-info-text li span{width:70px; float:left; color:#9e9e9e; display:inline-block;}
.order-info-text li p{padding-left:80px;}
.order-info-price{padding:6px 0 0;}
.order-info-price span{width:80px !important;}
.order-info-price li p{padding-left:90px; text-align:right; color:#494e56;}
.order-info-price li p.final-price{color:#ff8338; font-size:22px;}
.order-info-price li:last-child{height:40px; line-height:40px; border-top:1px #dadada dashed; margin-top:5px;}
.order-product-info{height:182px; overflow:hidden;}
.order-product-info li{overflow:hidden; border-top:1px #dadada solid; margin-top:-1px; padding:8px 0 5px; overflow:hidden;}
.order-product-info li img{width:78px; height:78px; display:block; margin-right:2px; float:left;}
.order-product{height:85px; overflow:hidden;}
.order-product-title{}
.order-product-title h2{font-size:16px; color:#393939; font-weight:normal; line-height:22px; height:44px; overflow:hidden;}
.order-product-spec{color:#a1a1a1; margin-top:5px;}
.order-product-unit{min-width:60px;text-align:right; line-height:22px; float:right;}
.order-product-price{font-size:20px;}
.order-product-count{color:#a1a1a1;}
/*view-logistics*/
.follow-logistics{padding-top:12px;}
.follow-logistics li{position: relative; border-left:1px #dadada solid; margin-left:20px;}
.follow-logistics li:before{content:''; display:inline-block; position:absolute; left:-5px; top:16px; width:9px; height:9px; background:#dadada; border-radius:50%; -webkit-border-radius:50%;}
.follow-logistics li.first-state{border-left:1px #25ae5f solid;}
.follow-logistics li.first-state:before{content:''; display:inline-block; position:absolute; left:-9px; top:0; width:13px; height:13px; background:#25ae5f; border:2px #b9e5cc solid; border-radius:50%; -webkit-border-radius:50%;}
.logistics-info{padding:12px 0; margin-left:30px; border-bottom:1px #dadada solid; text-align:justify;}
.logistics-info p{color:#8a8a8a; line-height:18px;}
.follow-logistics li.first-state .logistics-info p{color:#25ae5f;}
.logistics-time{margin-top:8px;}
.follow-logistics li:first-child .logistics-info{padding-top:0;}
.follow-logistics li:last-child .logistics-info{border:none;}
.show-more{display:block; border-top:1px #dadada solid; height:34px; line-height:34px; text-align:center;}
.logistics-company{background:#5e6b85; padding:0 24px; margin-bottom:9px;}
.logistics-company dt{margin:22px 10px 22px 0;}
.logistics-company dt,.logistics-company dt img{width:50px; height:50px; display:block; float:left;}
.logistics-company dd{padding-top:17px; color:#fff;}
.company-title{margin-bottom:2px; font-size:16px;}
/**/
.pay-info-box{border-top:1px #dadada solid; border-bottom:1px #dadada solid; margin-top:-1px; background:#fff; margin-bottom:9px; margin-top:-1px;}
.pay-info-box li{height:56px; line-height:56px; overflow:hidden;}
.pay-info-box li b{width:14px; height:14px; display:inline-block; border:1px #979797 solid; border-radius:50%; float:left; margin:20px 15px 0;}
.pay-info-box li.curr b{border:1px #ff9156 solid; background:url(../images/pay_check.png) no-repeat; background-size:14px;}
.pay-way{height:56px; line-height:56px; margin:0 0 0 46px; border-top:1px #dadada solid; font-size:15px;}
.pay-info-box li:first-child .pay-way{border:none;}
.pay-way img{width:34px; height:34px; display:block; border-radius:5px; -webkit-border-radius:5px; float:left; margin:11px 10px 0 0;}
/*loading*/
.spinner{width:100px;text-align:center;position:absolute;left:50%;top:200px;margin-left:-50px;}
.spinner>div{width:20px;height:20px;background-color:#ff9156;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-webkit-keyframes bouncedelay{0%,100%,80%{-webkit-transform:scale(0)}
40%{-webkit-transform:scale(1)}
}
@keyframes bouncedelay{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}
}




.serial-number{line-height:18px;}
/*use-instructions*/
.use-indtructions{padding:10px 25px;}
.use-indtructions p{font-size:15px; color:#000; line-height:30px;}
/*common*/
.bg-black{background:#000;}
.bg-white{background:#fff;}
.w100{width:100% !important;}
.height-auto{height:auto !important;}
