@charset "utf-8";
/*case*/
.case-list{border-bottom:1px solid #dadada;border-top:1px solid #dadada; padding:10px; height:50px; overflow: hidden; background: #FFF; display: block; margin-top:-1px;}
.case-list dt{float:left; width:50px; height:50px; display: block;}
.case-list dt img{width:50px; height:50px; display: block;}
.case-list dd{padding-left:60px;}
.case-describe{color:#a1a1a1; }
.case-describe time{float:right;}
.case-con{line-height:18px; font-size:14px; height:36px; overflow: hidden;}
/*see-case*/
.member-main{padding:55px 0 0 0; overflow: hidden;position: relative;}
.case-img{height:40px; padding:10px; border-bottom:1px solid #dadada;border-top:1px solid #dadada; overflow: hidden; margin-top:-1px;  background: #FFF;}
.case-img span{float:left; height:40px; line-height:40px; }
.case-img-list{float:right;}
.case-img-list li{float:left; height:40px; width:40px;}
.case-img-list li img{height:40px; width:40px; display: block; margin-left:1px;}
.case-main-txt{height:90px; overflow: hidden; padding:10px;margin-bottom:6px; border-bottom:1px solid #dadada;border-top:1px solid #dadada; margin-top:-1px; display: block; background: #FFF;}
.case-main-txt span{float:left; line-height:18px; width:60px;}
.case-area{padding:1px 0 1px 70px;}
.case-main-txt textarea{height:90px; width:100%;}
.case-help{height:50px; border-bottom:1px solid #dadada;border-top:1px solid #dadada; overflow: hidden; background: #FFF; padding:0 10px;}
.case-help span{float:left; height:50px; line-height:50px; }
.case-help strong{float:right; color:#a3a3a3; font-size:26px; line-height:50px; height:16px; width:16px; font-weight:normal;}
.case-help-current strong{color:#ff8338 !important;}
.select-current strong{color:#ff8338 !important;}
.member-btn{height:50px; width:100%; position: fixed; bottom:0; left:0; padding:10px 0; background:#f0f0f0;}
.follow-btn{width:100%;}
.follow-btn a{display: block; margin:10px;  height:50px;line-height:50px; text-align: center; border-radius: 6px; background: #00b4b8; font-size:18px; color:#FFF;}
.member-btn a{display: block; margin:0 10px;  height:50px;line-height:50px; text-align: center; border-radius: 6px; background: #00b4b8; font-size:18px; color:#FFF;}
/*address-details*/
.address-details{height:70px; padding:10px; position: relative;border-bottom:1px solid #dadada;border-top:1px solid #dadada; overflow: hidden; margin-top:-1px; background: #FFF;}
.ad-main{padding-right:80px;}
.ad-main p.ad-txt{line-height:35px;height:35px; overflow: hidden; color:#b5b5b5;}
.ad-main span{margin-right:10px; color:#393939;}
.ad-icon{position: absolute; right:20px; top:33%; height:30px;}
.ad-icon i{font-size:26px; display: none;}
.ad-icon a{font-size:26px; margin-left:5px; color:#b6b6b6; }
.select-current{background: #546078; border-color:#546078;}
.select-current p.ad-txt{color:#FFF;}
.select-current p.ad-txt span{color:#FFF;}
.select-current a{color:#FFF;}
.select-current i{color:#FFF; display:inline-block;}
/*member-center*/
.member-top{ background-size: cover; height:150px; width:100%; padding-top:55px; background: url("../images/member-bg.jpg") repeat-x;}
.member-padding{padding-top:0;}
.member-top-info{ padding:15px;}
.member-top-info span{font-size:20px; color:#FFF; display: block; height:30px;}
.member-top-info b{color:#FFF;display: block; height:30px; font-weight: normal;}
.member-wait{background: rgba(0,0,0,.5);padding:10px 0; }
.member-wait li{float:left; border-right:1px solid #7a9a93; text-align: center; height:40px;width:33%; color:#FFF;  }
.member-wait li a{display:block; color:#FFF; text-align: center;}
.member-wait li a b{height:24px; width:24px; display: block; margin:0 auto; background: url("../images/member-icon.png") no-repeat;background-size: 24px;}
.member-wait li a b.w-01{background-position: 0 0;}
.member-wait li a b.w-02{background-position:  0 -22px;}
.member-wait li a b.w-03{background-position: 0 -45px;}
.member-wait li.no-bor{border-right:0;}
.member-list{padding-left:10px; margin-top:10px; border-bottom:1px solid #dadada;border-top:1px solid #dadada; overflow: hidden;  background: #FFF;}
.member-list li{height:45px; line-height:45px;border-top:1px solid #dadada; overflow: hidden; margin-top:-1px; padding-right:10px;}
.member-list li a{display:block; margin-left:10px;}
.member-list li a b{float:right; color:#c0c0c0; font-size:24px;}
/*member-no-net*/
.member-no-net{width:100%; height:100%; position:absolute; left:0; top:0; right:0; bottom:0; text-align:center;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;flex:1; z-index:10;}
.member-no-net span{height:155px; width:155px; display: block; margin: 0 auto; flex:1}
/*.member-no-net p{text-align: center; height:30px; line-height:30px; padding:0 80px;}*/
.member-no-net-btn{height:30px; margin-top:10px;}
a.no-net-btn{border:1px solid #ffa77c; display: block;  margin:20px 70px 0;border-radius: 6px; text-align: center; line-height:40px; height:40px;font-size:18px !important; color:#ffa77c !important;}
a.no-pro-btn{border:1px solid #00b4b8; display: block;  margin:20px 70px 0;border-radius: 6px; text-align: center; line-height:40px; height:40px;font-size:18px !important; color:#00b4b8 !important;}
.member-no-net span.no-net{background: url("../images/member-icon01.png") no-repeat; background-size: 155px; }
.member-no-net span.no-case{background: url("../images/member-icon02.png") no-repeat;  background-size: 155px;}
.member-no-net p.no-case{font-size:24px;color:#c8c8c8; margin-top:20px;}
.member-no-net span.no-coupon{background: url("../images/member-icon03.png") no-repeat; background-size: 155px; }
/*member-center-change-address*/
.member-list li span{float:left; height:45px; line-height:45px; width:80px; color:#a5a5a5; font-size:15px;}
.member-list li input{display: inline-block;  height:43px; line-height:43px; color:#000; border:none;}
.change-add-set li a{margin-left:0; color:#23b9bd;}
.change-add-del li a{margin-left:0; color:#f53d3d;}
/*attention*/
.attention-list{padding-bottom:10px; background: #FFF;border-bottom:1px solid #dadada;border-top:1px solid #dadada; margin-top:-1px; overflow: hidden;}
.attention-tit{height:30px; line-height:30px; padding-left:10px;font-size:15px;}
.attention-list ul li{height:90px; width:33.3%; text-align: center; float:left;}
.attention-img{width:90px; height:90px;position: relative; margin: 0 auto;}
.attention-img img{width:90px; height:90px;}
.shade-bg{ height:90px; width:90px; border-radius: 6px; background:rgba(0,0,0,.3); position: absolute; top:0; left:0;}
.shade-bg b{height:14px; width:14px; border-radius: 50%; background: #ff3333; color:#FFF; line-height:14px; text-align: center; position: absolute; top:-5px; right:-5px; cursor: pointer; font-size:16px; font-weight: bold;}
/*idea*/
.idea-main{padding:10px;background: #FFF;border-bottom:1px solid #dadada;border-top:1px solid #dadada;font-size: 16px; margin:-1px 0 10px 0; }
.idea-main textarea{ line-height:20px; overflow: hidden; height:180px; color:#b3b3b3; width:100%;}
.idea-main input{color:#b3b3b3; height:30px; line-height:30px; width:100%;}
.service-num p{text-align: center; height:24px; line-height:24px; color:#b3b3b3; font-size:16px;}
/*add-coupon*/
.add-coupon{margin:0 10px 10px; border-radius: 8px; background: #FFF;position: relative;}
.add-coupon-top{height:80px; }
.coupon-img{width:40px;height:71px; padding:9px 0 0 30px; background: url("../images/member_center_icon05.png") no-repeat right center; background-size: 2px; float:left;}
.coupon-img img{height:61px; width:12px;}
.coupon-txt{padding:15px 0 15px 80px;}
.coupon-txt p{font-size:22px; height:30px;}
.coupon-txt b{font-size:16px;}
.add-coupon-bottom{height:14px; line-height:14px; text-align: right; padding-right:10px; background: #00b4b8; border-radius:0 0 8px 8px; font-size:12px; color:#FFF;}
.pitch-on{position: absolute; top:28px; right:20px; height:16px; width:16px;}
.pitch-on strong{font-size:22px; color:#a1a1a1; font-weight:normal;}
.select-current strong{color:#ff8338;}

/**/
.member-no-net{width:100%; height:100%; position:absolute; left:0; top:0; right:0; bottom:0; text-align:center;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;flex:1; z-index:10;}
.member-no-net dl{ -webkit-box-flex: 1; text-align: center; margin-top:-100px;}
.member-no-net img{ width:50%;}
.member-no-net dd{ margin-top: 15px;  color: #c8c8c8; font-size: 24px;}

.verification-tel{ width: 100%;  height: 100%;  position: fixed; left: 0;  top: 0;  right: 0;  bottom: 0;  text-align: center;  display: -webkit-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex; -webkit-box-pack: center; -ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;  flex: 1; z-index: 10; background: rgba(0,0,0,.2); }
.verification-tel-box{margin:0 12px; background: #FFF; border-radius: 8px; }
.verification-tel-box ul li{border-bottom:1px solid #dadada;  height:50px; overflow: hidden;  display: block; }
.verification-tel-box ul li a{font-size:15px;}
.box-code input{ display: inline-block; color:#000; height:30px; line-height:30px; font-size:15px; overflow: hidden; background: #f0f0f0;border-radius:5px;padding:0 5px; }
.verification-tel-box ul li:last-child{border-bottom:none;}
.box-code{padding:10px;}
.for-btn{width:50%; float:left;}
.for-btn a{height:50px; display:block; color:#a0a0a0; border-right:1px solid #dadada; line-height:50px; text-align: center;}

/**/
.service-type2{height:60px; border-top:1px solid #dadada; border-bottom:1px solid #dadada; margin-top:-1px; padding:0 10px; position:relative; background:#fff;}
.service-type2 span{ float:left; line-height:60px;}
.service-op2{ position:absolute; right:10px;}
.service-op2 select{ margin-top:12px;}
.upload-btn2{width:40px; height:40px; display:inline-block; background:url(../images/applyaftersaleaddimgbg.jpg) no-repeat; background-size:40px; margin-top:10px; float:right;}
.service-op2 b{ line-height:60px;  color:#999; margin-right:5px;}
.img-breviary2{ position:absolute; left:80px; background:#fff; width:200px; overflow:hidden;}
.img-breviary2 b{float:left; margin:10px 5px 10px 0; position:relative;}
.img-breviary2 b img{ width:40px; height:40px; display:block;}
.img-breviary2 b i{ width:12px; height:12px; display:inline-block; background:#ff3333; color:#fff; line-height:12px; text-align:center; font-style:normal; position:absolute; right:-5px; top:-5px; border-radius:50%; -webkit-border-radius:50%;}


/*bind-iphone*/
.health-basic{padding-top:45px;}
.health-for-bg{background: #FFF;}
.wait-bg{padding:20px 40px;}
.wait-bg img{height:234px; width:234px; display: block;margin:0 auto;}
.wait-bg p{margin-top:15px; color:#7f7f7f; line-height:18px; font-size:12px; text-align: center;}
.hot-tel{padding:0 10%; margin-top:20px;}
.hot-tel p{text-align: center;background: url("../images/health_register_icon01.png") no-repeat 26% center;background-size:14px; height:18px; line-height:18px; font-size:15px; color:#7f7f7f;}
.pass-bg{padding:0;}
.pass-bg img{width:320px; height:370px;}
.pass-bg p{margin:0 10%;}
.apply-for-btn{padding:0 10% 50px; margin-top:20px;}
.apply-for-btn a{display: block; width:100%; height:44px; line-height:44px; border-radius:5px; background: #fc0f42; font-size:15px; text-align: center; color:#FFF;}
.bind-iphone{height:60px; width:100%;}
.bind-iphone dt{float:left; width:20%; line-height:60px; text-align: center; font-size:14px;}
.bind-iphone dd{position: relative; width:80%; float:left; height:60px; border-bottom:1px solid #d7d7d7;}
.input-tel{width:100%; height:30px; margin:15px 0; line-height:30px; font-size:12px;}
.code-btn{position: absolute; top:6px; right:10px;}
.code-btn a,.code-btn span{display:block; text-align: center; height:44px; line-height:44px; width:100px; border-radius:5px; background: #999; color:#FFF;}



/*get-coupon*/
.get-coupon{padding:55px 10px 10px;}
.get-coupon-part { margin-bottom:10px; height:90px;  box-shadow: 0 0 5px #CCC;}
.get-coupon-details{ width:70%; height:70px;float:left; padding-top:20px; }
.get-coupon-details label{font-size:12px; display: block; padding-left:13px;  }
.get-coupon-details label:first-child{margin-bottom:30px;}
.get-coupon-num{float:left;  width:30%;  height:85px; padding-top:5px;}
.get-coupon-num label{display:block; font-size:30px; width:100%; text-align: center; color:#efeff4;}
.get-coupon-num label b{font-size:14px;color:#efeff4;}
.get-coupon-num label span{color:#efeff4; display: inline-block; height:19px; padding:0 5px; line-height:19px; border-radius:8px; }
.get-coupon-num a{display: block;}
.get-none{background:url("../images/get_coupon_bg01.png") no-repeat top center; background-size:cover;}
.get-down{background:url("../images/get_coupon_bg02.png") no-repeat top center; background-size:cover;}
.get-down span{border:2px solid #efeff4;}
.get-already{background:url("../images/get_coupon_bg03.png") no-repeat top center; background-size:cover;}
.get-shade-bg{display: none;  position: fixed; top:0; left:0; height:100%; width:100%;}
.get-shade-coupon{ width:260px; height:100px; position: fixed; top:50%; left:50%; margin-top:-50px; margin-left:-130px; background: rgba(0,0,0,.7); border-radius:5px;}
.get-shade-icon{display: block; width:20px; height:20px; line-height:20px; text-align: center; border:1px solid #FFF; background: url("../images/new_settle_icon04.png") no-repeat center center; background-size: 9px; margin:14px auto 9px; border-radius:50%;}
.get-shade-bg label{text-align: center; display: block; color:#FFF;}
.get-shade-bg.is-visible{ display: block; }
