<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* *..service..*.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" rollback-for="Exception" />
			<tx:method name="*" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<bean id="opensqlmanage" class="com.rc.openapi.service.impl.OpenSqlManageImpl">
		<property name="opensqldao" ref="opensqldao" />
	</bean>


    <bean id="cdeliverywaymanager" class="com.rc.openapi.service.impl.CDeliveryWayManagerImpl">
        <property name="cdeliverywaydao" ref="cdeliverywaydao" />
    </bean>

    <bean id="cimagemanager" class="com.rc.openapi.service.impl.CImageManagerImpl">
        <property name="cimagedao" ref="cimagedao" />
    </bean>

    <bean id="clocationmanager" class="com.rc.openapi.service.impl.CLocationManagerImpl">
        <property name="clocationdao" ref="clocationdao" />
    </bean>

    <bean id="cpaymentwaymanager" class="com.rc.openapi.service.impl.CPaymentWayManagerImpl">
        <property name="cpaymentwaydao" ref="cpaymentwaydao" />
    </bean>

    <bean id="cpositionlistmanager" class="com.rc.openapi.service.impl.CPositionListManagerImpl">
        <property name="cpositionlistdao" ref="cpositionlistdao" />
    </bean>

    <bean id="cpositionmanager" class="com.rc.openapi.service.impl.CPositionManagerImpl">
        <property name="cpositiondao" ref="cpositiondao" />
    </bean>

    <bean id="cpositiontypemanager" class="com.rc.openapi.service.impl.CPositionTypeManagerImpl">
        <property name="cpositiontypedao" ref="cpositiontypedao" />
    </bean>

    <bean id="ctestdelmanager" class="com.rc.openapi.service.impl.CTestDelManagerImpl">
        <property name="ctestdeldao" ref="ctestdeldao" />
    </bean>

    <bean id="tbrandmanager" class="com.rc.openapi.service.impl.TBrandManagerImpl">
        <property name="tbranddao" ref="tbranddao" />
    </bean>

    <bean id="tcartitemmanager" class="com.rc.openapi.service.impl.TCartItemManagerImpl">
        <property name="tcartitemdao" ref="tcartitemdao" />
    </bean>

    <bean id="tcartmanager" class="com.rc.openapi.service.impl.TCartManagerImpl">
        <property name="tcartdao" ref="tcartdao" />
    </bean>

    <bean id="tcategorygoodsmanager" class="com.rc.openapi.service.impl.TCategoryGoodsManagerImpl">
        <property name="tcategorygoodsdao" ref="tcategorygoodsdao" />
    </bean>

    <bean id="tcategorymanager" class="com.rc.openapi.service.impl.TCategoryManagerImpl">
        <property name="tcategorydao" ref="tcategorydao" />
    </bean>

    <bean id="tcouponcardmanager" class="com.rc.openapi.service.impl.TCouponCardManagerImpl">
        <property name="tcouponcarddao" ref="tcouponcarddao" />
        <property name="opensqldao" ref="opensqldao" />
    </bean>

    <bean id="tcouponmanager" class="com.rc.openapi.service.impl.TCouponManagerImpl">
        <property name="tcoupondao" ref="tcoupondao" />
    </bean>

    <bean id="tcouponrelevancemanager" class="com.rc.openapi.service.impl.TCouponRelevanceManagerImpl">
        <property name="tcouponrelevancedao" ref="tcouponrelevancedao" />
    </bean>

    <bean id="tcustomercallmanager" class="com.rc.openapi.service.impl.TCustomerCallManagerImpl">
        <property name="tcustomercalldao" ref="tcustomercalldao" />
    </bean>

    <bean id="tdosemanager" class="com.rc.openapi.service.impl.TDoseManagerImpl">
        <property name="tdosedao" ref="tdosedao" />
    </bean>

    <bean id="tgoodsbrokeragemanager" class="com.rc.openapi.service.impl.TGoodsBrokerageManagerImpl">
        <property name="tgoodsbrokeragedao" ref="tgoodsbrokeragedao" />
    </bean>

    <bean id="tgoodscommentmanager" class="com.rc.openapi.service.impl.TGoodsCommentManagerImpl">
        <property name="tgoodscommentdao" ref="tgoodscommentdao" />
    </bean>

    <bean id="tgoodsconsultmanager" class="com.rc.openapi.service.impl.TGoodsConsultManagerImpl">
        <property name="tgoodsconsultdao" ref="tgoodsconsultdao" />
    </bean>

    <bean id="tgoodsextendmanager" class="com.rc.openapi.service.impl.TGoodsExtendManagerImpl">
        <property name="tgoodsextenddao" ref="tgoodsextenddao" />
    </bean>

    <bean id="tgoodsimagesmanager" class="com.rc.openapi.service.impl.TGoodsImagesManagerImpl">
        <property name="tgoodsimagesdao" ref="tgoodsimagesdao" />
    </bean>

    <bean id="tgoodsmanager" class="com.rc.openapi.service.impl.TGoodsManagerImpl">
        <property name="tgoodsdao" ref="tgoodsdao" />
    </bean>

    <bean id="tgoodspremiumsmanager" class="com.rc.openapi.service.impl.TGoodsPremiumsManagerImpl">
        <property name="tgoodspremiumsdao" ref="tgoodspremiumsdao" />
    </bean>

    <bean id="tgoodspropertymanager" class="com.rc.openapi.service.impl.TGoodsPropertyManagerImpl">
        <property name="tgoodspropertydao" ref="tgoodspropertydao" />
    </bean>

    <bean id="tgroupgoodskeywordmanager" class="com.rc.openapi.service.impl.TGroupGoodsKeywordManagerImpl">
        <property name="tgroupgoodskeyworddao" ref="tgroupgoodskeyworddao" />
    </bean>

    <bean id="tgroupgoodsmanager" class="com.rc.openapi.service.impl.TGroupGoodsManagerImpl">
        <property name="tgroupgoodsdao" ref="tgroupgoodsdao" />
    </bean>

    <bean id="tleaderimagemanager" class="com.rc.openapi.service.impl.TLeaderImageManagerImpl">
        <property name="tleaderimagedao" ref="tleaderimagedao" />
    </bean>

    <bean id="tleadermanager" class="com.rc.openapi.service.impl.TLeaderManagerImpl">
        <property name="tleaderdao" ref="tleaderdao" />
    </bean>

    <bean id="tlongcardmanager" class="com.rc.openapi.service.impl.TLongCardManagerImpl">
        <property name="tlongcarddao" ref="tlongcarddao" />
    </bean>

    <bean id="tlongmanager" class="com.rc.openapi.service.impl.TLongManagerImpl">
        <property name="tlongdao" ref="tlongdao" />
    </bean>

    <bean id="tmanufacturermanager" class="com.rc.openapi.service.impl.TManufacturerManagerImpl">
        <property name="tmanufacturerdao" ref="tmanufacturerdao" />
    </bean>

    <bean id="tmemberaccountmanager" class="com.rc.openapi.service.impl.TMemberAccountManagerImpl">
        <property name="tmemberaccountdao" ref="tmemberaccountdao" />
    </bean>

    <bean id="tmemberamountoutmanager" class="com.rc.openapi.service.impl.TMemberAmountOutManagerImpl">
        <property name="tmemberamountoutdao" ref="tmemberamountoutdao" />
    </bean>

    <bean id="tmemberbalancemanager" class="com.rc.openapi.service.impl.TMemberBalanceManagerImpl">
        <property name="tmemberbalancedao" ref="tmemberbalancedao" />
    </bean>

    <bean id="tmembercollectmanager" class="com.rc.openapi.service.impl.TMemberCollectManagerImpl">
        <property name="tmembercollectdao" ref="tmembercollectdao" />
    </bean>

    <bean id="tmembergrademanager" class="com.rc.openapi.service.impl.TMemberGradeManagerImpl">
        <property name="tmembergradedao" ref="tmembergradedao" />
    </bean>

    <bean id="tmemberintegralmanager" class="com.rc.openapi.service.impl.TMemberIntegralManagerImpl">
        <property name="tmemberintegraldao" ref="tmemberintegraldao" />
        <property name="tmemberdao" ref="tmemberdao" />
    </bean>

    <bean id="tmemberleadermanager" class="com.rc.openapi.service.impl.TMemberLeaderManagerImpl">
        <property name="tmemberleaderdao" ref="tmemberleaderdao" />
    </bean>

    <bean id="tmembermanager" class="com.rc.openapi.service.impl.TMemberManagerImpl">
        <property name="tmemberdao" ref="tmemberdao" />
        <property name="tmembersessiondao" ref="tmembersessiondao" />
        <property name="tmemberaccountdao" ref="tmemberaccountdao" />
        <property name="tmemberthreebindingdao" ref="tmemberthreebindingdao" />
    </bean>

    <bean id="tmembermessagemanager" class="com.rc.openapi.service.impl.TMemberMessageManagerImpl">
        <property name="tmembermessagedao" ref="tmembermessagedao" />
    </bean>

    <bean id="tmemberreceivermanager" class="com.rc.openapi.service.impl.TMemberReceiverManagerImpl">
        <property name="tmemberreceiverdao" ref="tmemberreceiverdao" />
    </bean>

    <bean id="tmemberthreebindingmanager" class="com.rc.openapi.service.impl.TMemberThreeBindingManagerImpl">
        <property name="tmemberthreebindingdao" ref="tmemberthreebindingdao" />
    </bean>

    <bean id="torderflowmanager" class="com.rc.openapi.service.impl.TOrderFlowManagerImpl">
        <property name="torderflowdao" ref="torderflowdao" />
    </bean>

    <bean id="torderitemmanager" class="com.rc.openapi.service.impl.TOrderItemManagerImpl">
        <property name="torderitemdao" ref="torderitemdao" />
    </bean>

    <bean id="tordermanager" class="com.rc.openapi.service.impl.TOrderManagerImpl">
        <property name="torderdao" ref="torderdao" />
        
         <property name="cpaymentwaydao" ref="cpaymentwaydao" />
         <property name="opensqldao" ref="opensqldao" />
         <property name="torderflowdao" ref="torderflowdao" />
         <property name="torderitemdao" ref="torderitemdao" />
         <property name="tpromotiondao" ref="tpromotiondao" />
         <property name="tmemberreceiverdao" ref="tmemberreceiverdao" />
         <property name="tgoodsdao" ref="tgoodsdao" />
         <property name="cartdao" ref="cartdao" />
         <property name="tcartdao" ref="tcartdao" />
         <property name="tcartitemdao" ref="tcartitemdao" />
         <property name="tsysparameterdao" ref="tsysparameterdao" />
         <property name="tcouponcarddao" ref="tcouponcarddao" />
         <property name="tcoupondao" ref="tcoupondao" />
         <property name="tgoodsbrokeragedao" ref="tgoodsbrokeragedao" />
         <property name="tmemberdao" ref="tmemberdao" />
        <property name="tmemberintegraldao" ref="tmemberintegraldao" />
        <property name="torderleaderdao" ref="torderleaderdao" />
        <property name="tmemberleaderdao" ref="tmemberleaderdao" />
        <property name="topicMessageSender" ref="topicMessageSender" />
        <property name="cdeliverywaydao" ref="cdeliverywaydao" />
    </bean>

    <bean id="tordershipmentmanager" class="com.rc.openapi.service.impl.TOrderShipmentManagerImpl">
        <property name="tordershipmentdao" ref="tordershipmentdao" />
    </bean>

    <bean id="tpharmacistmanager" class="com.rc.openapi.service.impl.TPharmacistManagerImpl">
        <property name="tpharmacistdao" ref="tpharmacistdao" />
    </bean>

    <bean id="tphysicianmanager" class="com.rc.openapi.service.impl.TPhysicianManagerImpl">
        <property name="tphysiciandao" ref="tphysiciandao" />
    </bean>

    <bean id="tpromgiftmanager" class="com.rc.openapi.service.impl.TPromGiftManagerImpl">
        <property name="tpromgiftdao" ref="tpromgiftdao" />
    </bean>

    <bean id="tpromitemmanager" class="com.rc.openapi.service.impl.TPromItemManagerImpl">
        <property name="tpromitemdao" ref="tpromitemdao" />
    </bean>

    <bean id="tpromotionmanager" class="com.rc.openapi.service.impl.TPromotionManagerImpl">
        <property name="tpromotiondao" ref="tpromotiondao" />
    </bean>

    <bean id="treturnimagemanager" class="com.rc.openapi.service.impl.TReturnImageManagerImpl">
        <property name="treturnimagedao" ref="treturnimagedao" />
    </bean>

    <bean id="treturnitemmanager" class="com.rc.openapi.service.impl.TReturnItemManagerImpl">
        <property name="treturnitemdao" ref="treturnitemdao" />
    </bean>

    <bean id="treturnmanager" class="com.rc.openapi.service.impl.TReturnManagerImpl">
	    <property name="treturnitemdao" ref="treturnitemdao" />
	    <property name="treturnimagedao" ref="treturnimagedao" />
        <property name="treturndao" ref="treturndao" />
        <property name="opensqldao" ref="opensqldao" />
    </bean>

    <bean id="tshortbuymanager" class="com.rc.openapi.service.impl.TShortBuyManagerImpl">
        <property name="tshortbuydao" ref="tshortbuydao" />
    </bean>

    <bean id="tshortgoodsmanager" class="com.rc.openapi.service.impl.TShortGoodsManagerImpl">
        <property name="tshortgoodsdao" ref="tshortgoodsdao" />
    </bean>

    <bean id="tshortordermanager" class="com.rc.openapi.service.impl.TShortOrderManagerImpl">
        <property name="tshortorderdao" ref="tshortorderdao" />
    </bean>

    <bean id="tstaticmanager" class="com.rc.openapi.service.impl.TStaticManagerImpl">
        <property name="tstaticdao" ref="tstaticdao" />
    </bean>

    <bean id="tsysparametermanager" class="com.rc.openapi.service.impl.TSysParameterManagerImpl">
        <property name="tsysparameterdao" ref="tsysparameterdao" />
    </bean>

    <bean id="ttaskexecmanager" class="com.rc.openapi.service.impl.TTaskExecManagerImpl">
        <property name="ttaskexecdao" ref="ttaskexecdao" />
    </bean>
  <bean id="tmembersessionmanager" class="com.rc.openapi.service.impl.TMemberSessionManagerImpl">
        <property name="tmembersessiondao" ref="tmembersessiondao" />
    </bean>
     <bean id="appmembertracemanager" class="com.rc.openapi.service.impl.AppMemberTraceManagerImpl">
        <property name="appmembertracedao" ref="appmembertracedao" />
    </bean>
     <bean id="apppaymethodareamanager" class="com.rc.openapi.service.impl.AppPaymethodAreaManagerImpl">
        <property name="apppaymethodareadao" ref="apppaymethodareadao" />
    </bean>
    <bean id="tprescriptionimagemanager" class="com.rc.openapi.service.impl.TPrescriptionImageManagerImpl">
        <property name="tprescriptionimagedao" ref="tprescriptionimagedao" />
    </bean>

    <bean id="tprescriptionmanager" class="com.rc.openapi.service.impl.TPrescriptionManagerImpl">
        <property name="tprescriptiondao" ref="tprescriptiondao" />
    </bean>
    
     <bean id="cartmanager" class="com.rc.openapi.service.impl.CartManagerImpl">
        <property name="tcartdao" ref="tcartdao" />
        <property name="tcartitemdao" ref="tcartitemdao" />
        <property name="opensqldao" ref="opensqldao" />
        <property name="tgoodsdao" ref="tgoodsdao" />
        <property name="tpromitemdao" ref="tpromitemdao" />
        <property name="tpromotiondao" ref="tpromotiondao" />
        <property name="tpromgiftdao" ref="tpromgiftdao" />
        <property name="cartdao" ref="cartdao" />
        <property name="torderdao" ref="torderdao" />
        <property name="torderitemdao" ref="torderitemdao" />
<!--         <property name="tcartitemmanager" ref="tcartitemmanager" /> -->
        <property name="tgoodspricedao" ref="tgoodspricedao" />
        <property name="yktgoodsdao" ref="yktgoodsdao" />
    </bean>
    
    <bean id="cfeedbackmanager" class="com.rc.openapi.service.impl.CFeedbackManagerImpl">
		<property name="cfeedbackdao" ref="cfeedbackdao" />
	</bean>
	
    <bean id="torderleadermanager" class="com.rc.openapi.service.impl.TOrderLeaderManagerImpl">
        <property name="torderleaderdao" ref="torderleaderdao" />
    </bean>
    
    <bean id="huanxinusermanager" class="com.rc.openapi.service.impl.HuanxinUserManagerImpl">
        <property name="huanxinuserdao" ref="huanxinuserdao" />
    </bean>
    
      <bean id="huanxinlogmanager" class="com.rc.openapi.service.impl.HuanxinLogManagerImpl">
        <property name="huanxinlogdao" ref="huanxinlogdao" />
    </bean>
      <bean id="tleaderstaymoneymanager" class="com.rc.openapi.service.impl.TLeaderStayMoneyManagerImpl">
        <property name="tleaderstaymoneydao" ref="tleaderstaymoneydao" />
        <property name="opensqldao" ref="opensqldao" />
        <property name="topicMessageSender" ref="topicMessageSender" />
    </bean>
    
    
    <bean id="thealthyplanclassificationmanager" class="com.rc.openapi.service.impl.THealthyPlanClassificationManagerImpl">
        <property name="thealthyplanclassificationdao" ref="thealthyplanclassificationdao" />
    </bean>

    <bean id="thealthyplancombinationmanager" class="com.rc.openapi.service.impl.THealthyPlanCombinationManagerImpl">
        <property name="thealthyplancombinationdao" ref="thealthyplancombinationdao" />
    </bean>

    <bean id="thealthyplangoodsmanager" class="com.rc.openapi.service.impl.THealthyPlanGoodsManagerImpl">
        <property name="thealthyplangoodsdao" ref="thealthyplangoodsdao" />
    </bean>

    <bean id="thealthyplanmanager" class="com.rc.openapi.service.impl.THealthyPlanManagerImpl">
        <property name="thealthyplandao" ref="thealthyplandao" />
    </bean>

    <bean id="thealthyplanrecommendmanager" class="com.rc.openapi.service.impl.THealthyPlanRecommendManagerImpl">
        <property name="thealthyplanrecommenddao" ref="thealthyplanrecommenddao" />
    </bean>

    <bean id="thealthyplansymptommanager" class="com.rc.openapi.service.impl.THealthyPlanSymptomManagerImpl">
        <property name="thealthyplansymptomdao" ref="thealthyplansymptomdao" />
    </bean>
    <!-- 
      <bean id="tleaderagentmanager" class="com.rc.openapi.service.impl.TLeaderAgentManagerImpl">
        <property name="tleaderagentdao" ref="tleaderagentdao" />
    </bean>
     -->
     
     <bean id="tmemberreceiverlatlonmanager" class="com.rc.openapi.service.impl.TMemberReceiverLatLonManagerImpl">
        <property name="tmemberreceiverlatlondao" ref="tmemberreceiverlatlondao" />
    </bean>
    
    <bean id="clocationcitymanager" class="com.rc.openapi.service.impl.CLocationCityManagerImpl">
        <property name="clocationcitydao" ref="clocationcitydao" />
    </bean>
    
    <bean id="tchannelmanager" class="com.rc.openapi.service.impl.TChannelManagerImpl">
        <property name="tchanneldao" ref="tchanneldao" />
    </bean>
    
    <bean id="tgoodspricemanager" class="com.rc.openapi.service.impl.TGoodsPriceManagerImpl">
        <property name="tgoodspricedao" ref="tgoodspricedao" />
    </bean>

    <bean id="tmemberarchivesexaminationmanager" class="com.rc.openapi.service.impl.TMemberArchivesExaminationManagerImpl">
        <property name="tmemberarchivesexaminationdao" ref="tmemberarchivesexaminationdao" />
    </bean>

    <bean id="tmemberarchiveslifediseasemanager" class="com.rc.openapi.service.impl.TMemberArchivesLifeDiseaseManagerImpl">
        <property name="tmemberarchiveslifediseasedao" ref="tmemberarchiveslifediseasedao" />
    </bean>

    <bean id="tmemberarchivesmedicalrecordmanager" class="com.rc.openapi.service.impl.TMemberArchivesMedicalRecordManagerImpl">
        <property name="tmemberarchivesmedicalrecorddao" ref="tmemberarchivesmedicalrecorddao" />
    </bean>

    <bean id="tmemberbasemessageextmanager" class="com.rc.openapi.service.impl.TMemberBaseMessageExtManagerImpl">
        <property name="tmemberbasemessageextdao" ref="tmemberbasemessageextdao" />
    </bean>

    <bean id="tmembercertificatesmanager" class="com.rc.openapi.service.impl.TMemberCertificatesManagerImpl">
        <property name="tmembercertificatesdao" ref="tmembercertificatesdao" />
    </bean>

    <bean id="tmemberhobbymanager" class="com.rc.openapi.service.impl.TMemberHobbyManagerImpl">
        <property name="tmemberhobbydao" ref="tmemberhobbydao" />
    </bean>

    <bean id="tmemberyktmanager" class="com.rc.openapi.service.impl.TMemberYktManagerImpl">
        <property name="tmemberyktdao" ref="tmemberyktdao" />
    </bean>
    
    
    <bean id="yktgoodsmanager" class="com.rc.openapi.service.impl.YktGoodsManagerImpl">
        <property name="yktgoodsdao" ref="yktgoodsdao" />
    </bean>
    
    
     <bean id="tcategoryimgmanager" class="com.rc.openapi.service.impl.TCategoryImgManagerImpl">
        <property name="tcategoryimgdao" ref="tcategoryimgdao" />
    </bean>
</beans>